<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CmrHisto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="CmrHisto.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%c:%L] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
    <userSettings>
        <CmrHisto.Properties.Settings>
            <setting name="AutomaticallyLoadRpmScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticallyLoadYAxisScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdateOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DontShowScaleWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="RpmScaleFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="YAxisScaleFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectScaleValuesOnFocus" serializeAs="String">
                <value>True</value>
            </setting>
        </CmrHisto.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
